/* 
Student Name: Dillon Anderson
Date: 09/03/2025
File Name: style.ss
*/

/* Style Reset */
body, header, nav, main, footer, img, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body element */
body {
    background-color: #ffe6cc;
    color: #000000;
    text-decoration: none; 
}

/* Style rule for image element */
img {
    max-width: 100%;
    display: horizontal;
    float: none;
    clear: none;
}

/* Style rule for header element */
header {
    background-color: #ffe6cc;
}

header h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Style rule for nav elements */
nav {
    background: linear-gradient(135deg, #000000, #434343); /* Black to dark gray */
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 2%;
    font-weight: bold;
    font-size: 1.75em;
}

nav li a {
    text-decoration: none;
    color:#ffffff;
}

/* Style rule for the main element */
main {
    background-color: #ffe6cc;
}

main h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.75em;
}

main h3 {
    text-align: center;
    font-weight: bold;
}

main p {
    text-align: center;
}

#main_contact {
    text-align: center;
}

#service_page img {
    display: horizontal;
    padding: 4%;
    padding-bottom: 1%;
}

#service_page h2 {
    text-align: center;
}

#contact {
    text-align: center;
}

.service {
    text-align: center;
}

/* Style rules for footer element */
footer {
    background: linear-gradient(135deg, #000000, #434343); /* Black to dark gray */
}

footer h2 {
    text-align: center;
    color: #ffffff;
}

footer p {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
}

footer ul {
    list-style: none;
    text-align: center;
    color:#ffffff;
}

footer li {
    text-decoration: none;
    display: inline-block;
    padding: 2%;
    font-weight: bold;
    font-size: 1.75em;
}

footer li a {
    text-decoration: none;
    color:#ffffff;
}