/* 
Student Name: Dillon Anderson
Date: 09/03/2025
File Name: style.ss
*/

/* Style Reset */
body, header, nav, main, footer, img, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body element */
body {
    background-color: #ffe6cc;
    color: #000000;
    text-decoration: none; 
}

/* Style rule for image element */
img {
    max-width: 100%;
    display: block;
}

/* Style rule for header element */
header {
    background-color: #ffe6cc;
}

header h1 {

}

/* Style rule for nav elements */
nav {

}

nav ul {

}

nav li {

}

nav li a {

}

/* Style rule for the main element */
main {
    background-color: #ffe6cc;
}

main h2 {

}

main h3 {

}

main p {

}

#services {

}

#service {

}

#about {

}

#contact {

}

/* Style rules for footer element */
footer {

}

footer h2 {

}

footer p {

}

footer ul {

}

footer li {

}