/* 
Student Name: Dillon Anderson
Date: 09/03/2025
File Name: style.ss
*/

/* Style Reset */
body, header, nav, main, footer, img, h1, ul, figure, section, figcaption, aside, table, th, td, tr, fieldset, input, textarea, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* mobile style rules begin */
.tablet-desk {
    display: none;
}

.round {
    border-radius: 8px;
}

/* Style rule for body element */
body {
    background-color: #ffe6cc;
    color: #000000;
    text-decoration: none; 
}

/* Style rule for image element */
img {
    max-width: 100%;
    display: horizontal;
    float: none;
    clear: none;
}

/* Style rule for header element */
header {
    background-color: #ffe6cc;
}

header h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Style rule for nav elements */
nav {
    background: linear-gradient(135deg, #000000, #434343); /* Black to dark gray */
}

nav ul {
    text-align: center;
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav li {
    display: block;
    font-size: 2em;
    padding: 2%;
    font-weight: bold;
    border-top: 1px solid #ffe6cc;
}

nav li a {
    text-decoration: none;
    color:#ffffff;
}

/* Style rule for the main element */
main {
    background-color: #ffe6cc;
}

main h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.75em;
}

main h3 {
    text-align: center;
    font-weight: bold;
}

main p {
    text-align: center;
}

#contact {
    text-align: center;
}

#service {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tel-link {
    text-decoration: none;
    color: #000000;
}

.email-link {
    text-decoration: none;
    color: #000000;
}

/* Style rules for footer element */
footer {
    background: linear-gradient(135deg, #000000, #434343); /* Black to dark gray */
}

footer h2 {
    text-align: center;
    color: #ffffff;
}

footer p {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
}

footer ul {
    list-style: none;
    text-align: center;
    color:#ffffff;
}

footer li {
    text-decoration: none;
    display: block;
    padding: 2%;
    font-weight: bold;
    font-size: 1.75em;
    border-top: 1px solid #ffe6cc;
}

footer li a {
    text-decoration: none;
    color:#ffffff;
}

/* Ch 7 style rules */

aside {
    border: 2px solid #000000;
    box-shadow: 4px 4px 8px rgba(37, 37, 37, 0.445);
    margin: 2% auto;
    padding: 2%;
}

figure {
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 8px rgba(37, 37, 37, 0.445);
    max-width: 400px;
    margin: 2% auto;
}


/* Media query for mobile */
@media screen and (max-width: 599px), print {
    .tablet-desk {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    /* Style rule for service ul */
    .mobile-only h3 {
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .mobile-only ul {
        list-style-type: square;
        padding-left: 20%;
        padding-right: 20%;
        margin-bottom: 5%;
    }

    .mobile-only li {
        font-size: 1.5em;
        margin-bottom: 5%;
    }

    /* Mobile Viewport: Style rule for form element */
    fieldset, input, textarea {
        margin: 2%;
        font-size: 1.25em;
    }

    fieldset legend {
        font-weight: bold;
        font-size: 1.5em;
    }

    label {
        display: block;
        padding-top: 2%;
        font-size: 1.25em;
    }

    #form h2 {
        font-size: 2em;
        font-weight: bold;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        border-top: 1px solid #000000;
    }

    form #submit {
        margin: 0 auto;
        display: block;
        padding: 2%;
        background-color: #000000;
        color: #ffffff;
        font-size: 1.5em;
        border-radius: 10px;
    }

    fieldset {
        border: 2px solid #000000;
        box-shadow: 4px 4px 8px rgba(37, 37, 37, 0.445);
        padding: 2%;
        margin-bottom: 5%;
    }

    textarea {
        width: 90%;
        height: 150px;
        font-size: 1em;
        padding: 1%;
        border: 1px solid #000000;
        box-shadow: 4px 4px 8px rgba(37, 37, 37, 0.445);
    }

    /* Source form elements in a single column */

}

/* Media query for tablet */
@media screen and (min-width: 600px), print {
    .tablet-desk {
        display: block;
    }

    .mobile-only {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav li {
        display: inline;
        padding: 1%;
        font-size: 1.5em;
        border: 1px solid #ffffff;
    }

    nav li a {
        text-decoration: none;
        color:#ffffff;
    }

    nav li a:hover {
        color: #ffe6cc;
    }

    main {
        margin: 0 10%;
    }

    main h2 {
        font-size: 2.5em;
    }

    main h3 {
        font-size: 2em;
    }

    main p {
        font-size: 1.25em;
    }

    footer ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer li {
        display: inline;
        padding: 1%;
        font-size: 1.5em;
        border: none;
    }

    .grid {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        gap: 1em;
        padding: 2%;
    }

    /* Tablet Viewport: Style rule for table element */
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0 auto;
        border: 1px solid #000000;
        box-shadow: 4px 4px 8px rgba(37, 37, 37, 0.445);
    }

    th, td {
        border: 1px solid #000000;
        padding: 1%;
        text-align: left;
        font-size: 1em;
    }

    th {
        background-color: #000000;
        color: #ffffff;
        font-size: 1.15em;
    }

    /* Tablet Viewport: Style rule for form element */
    fieldset, input, textarea {
        margin: 2%;
        font-size: 1.25em;
    }

    fieldset legend {
        font-weight: bold;
        font-size: 1.5em;
    }

    label {
        display: block;
        padding-top: 2%;
        font-size: 1.25em;
    }

    #form h2 {
        font-size: 2em;
        font-weight: bold;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        border-top: 1px solid #000000;
    }

    form #submit {
        margin: 0 auto;
        display: block;
        padding: 2%;
        background-color: #000000;
        color: #ffffff;
        font-size: 1.5em;
        border-radius: 10px;
    }

    fieldset {
        border: 2px solid #000000;
        box-shadow: 4px 4px 8px rgba(37, 37, 37, 0.445);
        padding: 2%;
        margin-bottom: 5%;
    }

    textarea {
        width: 90%;
        height: 150px;
        font-size: 1em;
        padding: 1%;
        border: 1px solid #000000;
        box-shadow: 4px 4px 8px rgba(37, 37, 37, 0.445);
    }

    .form-grid {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }


}

/* Media query for desktop */
@media screen and (min-width: 900px), print {
    main {
        margin: 0 20%;
    }

    main h2 {
        font-size: 3em;
    }

    main h3 {
        font-size: 2.5em;
    }

    main p {
        font-size: 1.5em;
    }


    .grid {
        grid-template-columns: 4fr 4fr 4fr;
        gap: 20px;
    }

    /* Tablet Viewport: Style rule for form element */
    form {
        width: 80%;
        margin: 0 auto;
    }

    #service option {
        font-size: 1.25em;
        padding: 1%;
        margin: 1%;
        border: 1px solid #000000;
        box-shadow: 4px 4px 8px rgba(37, 37, 37, 0.445);
    }

}


/* Media query for large desktop */
@media screen and (min-width: 1200px), print {
    main {
        margin: 0 25%;
    }

    main h2 {
        font-size: 3.5em;
    }

    main h3 {
        font-size: 3em;
    }

    main p {
        font-size: 1.75em;
    }
}


/* Media query for print */
@media print {
    nav, footer {
        display: none;
    }

    body {
        background-color: #ffffff;
        color: #000000;
    }

    main {
        margin: 0 5%;
    }

    main h2 {
        font-size: 2em;
    }

    main h3 {
        font-size: 1.75em;
    }

    main p {
        font-size: 1em;
    }
}