/* 
Student Name: Dillon Anderson
Date: 09/03/2025
File Name: style.css
*/

/* CSS Reset - A CSS reset is used to create a consistent baseline for styling across different web browsers. Since browsers apply their own default styles to HTML elements, these styles can vary, leading to inconsistencies in how a webpage appears. */
body, header, nav, main, footer, img, h1, ul, figure, figcaption, article, aside, section, table, caption, th, td, tr, form, input, textarea, button, label {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for images */
img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: auto;
}

.round {
   border-radius: 8px;
}

.tel-link {
    color: #ffffff;
    text-decoration: none;
}

.contact-info {
    text-align: center;
}

.contact-info a {
    color: #ffffff;
    text-decoration: none;
}

/* Style rule for body element */
body {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}

/* Style rule for header element */
header {
    text-decoration: none;
    text-align: center;
    color:#ffffff;
    background-color: #000000;
}

/* Style rule for h2/h3 elements */
h2 h3 {
    font-weight: bold;
}

/* Style rule for nav elements */
nav {
    background: linear-gradient(135deg, #000000, #434343); /* Black to dark gray */ 
    color: #fff;
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Style rule for about section */
.about {
    padding: 2%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.about_me {
    font-size: 1.25em;
    line-height: 1.6;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

article h3 {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

section {
    background-color: #555;
    padding: 2%;
    margin-top: 1%;
    color: #fff;
    box-shadow: 4px 4px 8px rgba(202, 201, 201, 0.445);
}

figcaption {
    font-style: italic;
    text-align: center;
    padding-top: 0.5%;
}

.about_me {
    text-shadow: 4px 4px 8px rgba(190, 188, 188, 0.5);
}

section:hover {
    box-shadow: 4px 4px 12px rgba(255, 255, 255, 0.7);
}


/* Style rule for footer elements */
footer {
    background: linear-gradient(135deg, #000000, #434343); /* Black to dark gray */ 
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 1%;
}

footer a {
    color:#fff;
    text-decoration: none;
}

/* Media Query for Mobile Viewport */
@media (min-width: 400px) {
    /* Mobile Viewport: Show mobile class and hide tab-desk class */
    .mobile {
        display: block;
    }
    .tab-desk, #nav-links {
        display: none;
    }

    /* Mobile Viewport: Style rule for nav area */
    nav li {
        font-size: 1.2em;
        display: block;
        border-bottom: #fff solid 1px;
        padding: 2;
    }

    nav li a {
        padding: 0.5em 2em;
        text-align: center;
    }

    .nav-icon div {
        height: 50px;
        width: 50px;
        color: #fff;
    }

    .mobile-nav a {
        color: #fff;
        text-decoration: none;
        font-size: 2em;
        padding: 3%;
        display: block;
        text-align: center;
    }

    .mobile-nav a.nav-icon {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        color: #fff;
        padding: 2%;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        padding: 2%;
    }

    article {
        font-size: 1em;
        grid-column: 1 / span 1;
        text-align: justify;
    }

    /* CH8 Your turn */
    .mobile li {
        line-height: 1.6;
        padding-bottom: 1%;
        text-align: left;
        padding-top: 1%;
        border: 1px solid #fff;
    }

    .resume {
        text-align: center;
        padding-top: 1%;
        text-shadow: 4px 4px 8px rgba(190, 188, 188, 0.5);
        font-size: 2em;
        border-top: 1px solid #fff;
    }

    /* Style rule for form element */
    form {
        width: 70%;
        margin: 0 auto;
        padding: 2%;
    }

    #form h2 {
        text-align: center;
        padding-bottom: 1%;
        text-shadow: 4px 4px 8px rgba(190, 188, 188, 0.5);
        font-size: 2em;
        border-top: 1px solid #fff;
    }

    label {
        display: block;
        margin-bottom: 0.5em;
        font-weight: bold;
    }

    form #submit {
    margin: 0 auto;
    display: block;
    padding: 2%;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    font-size: 1.25em;
    border-radius: 10px;
    }

    /* Style rule for form grid */
    .btn {
        grid-column: 1 / span 2;
    }
}


/* Style rules for tablet viewport */
@media screen and (min-width: 620px), print {

    /* Tablet Viewport: Show tab-desk class and hide mobile class */
    .mobile, .mobile-nav {
        display: none;
    }
    .tab-desk {
        display: block;
    }

    /* Tablet Viewport: Style rule for nav area */

    nav li {
        font-size: 1.5em;
        border-top: none;
        border-right: 1px solid #fff;
        border-bottom: none;
        display: inline-block;
        padding: 2%;
    }

    nav li a {
        padding: 0.5em 1em;
        color: #fff;
        text-align: center;
        padding: 0.5em 1em;
        text-decoration: none;
    }

    nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    }

    body {
        font-size: 1.em;
    }

    .grid {
        display: grid;
        gap: 10px;
        grid-template-columns: 2fr 2fr;
        padding: 2%;
    }

    aside {
        font-size: 1.75em;
        grid-column: span 2;
        text-align: center;
    }

    section {
        padding-bottom: 1%;
        line-height: 1.6;
        text-align: justify;
        text-justify: inter-word;
    }

    /* Tablet Viewport: Style rule for form element */
    table {
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 0 auto;
    }

    caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
    text-shadow: 4px 4px 8px rgba(190, 188, 188, 0.5);
    border-top: 1px solid #fff;
    }

    th, td {
    border: 1px solid #000000;
    padding: 1%;
    }

    td {
    padding: 1%;
    font-size: 1.1em;
    }

    th {
    background-color: #000000;
    color: #fff;
    font-size: 1.15em;
    }

    tr:nth-child(odd) {
    background-color: rgba(190, 188, 188, 0.5);
    }

    /* Tablet Viewport: Style rule for form element */
    form {
        width: 80%;
        margin: 0 auto;
        padding: 2%;
    }

    .form-grid {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
    .tab-desk {
        display: block;
    }

    /* Desktop Viewport: Style rule for nav area */
    nav li {
        font-size: 1.5em;
        display: inline-block;
        padding: 1%;
    }

    nav li a {
        text-align: center;

    }

    nav li a:hover {
        color: #fff;
        background-color: #555;
        transform: scale(1.2);
    }

    /* Desktop Viewport: Style rule for header content */
    header {
        padding: 1%;
    }

    .grid {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        gap: 20px;
        padding: 2%;
    }

    aside {
        font-size: 2em;
        grid-column: span 3;
        text-align: center;
    }


}

/* Media Query for Large Desktop Viewport */
@media screen and (min-width: 1900px), print {

    .tab-desk {
        display: block;
    }

    /* Large Desktop Viewport: Style rule for nav area */
    nav li {
        font-size: 1.5em;
    }

    nav li a {
        padding: 0.5em 2em;
    }
}


