/* 
Student Name: Dillon Anderson
Date: 09/03/2025
File Name: style.css
*/

/* CSS Reset - A CSS reset is used to create a consistent baseline for styling across different web browsers. Since browsers apply their own default styles to HTML elements, these styles can vary, leading to inconsistencies in how a webpage appears. */
body, header, nav, main, footer, img, h1, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for images */
img {
    max-width: 100%;
    display: block;
}

.round {
   border-radius: 8px;
}

/* Style rule for body element */
body {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}

/* Style rule for header element */
header {
    text-decoration: none;
    text-align: center;
    color:#ffffff;
    background-color: #000000;
}

/* Style rule for h2/h3 elements */
h2 h3 {
    font-weight: bold;
}

/* Style rule for nav elements */
nav {
    background: linear-gradient(135deg, #000000, #434343); /* Black to dark gray */ 
    color: #fff;
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 2em;
    border-right: 1px solid #fff;
}

nav li a {
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Style rule for about section */
.about {
    padding: 2%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.about-me {
    padding: 2%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Style rule for footer elements */
footer {
    background: linear-gradient(135deg, #000000, #434343); /* Black to dark gray */ 
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 1%;
}

footer a {
    color:#fff;
    text-decoration: none;
}



/* Style rules for tablet viewport */
@media screen and (min-width: 620px), print {

    /* Tablet Viewport: Show tab-desk class and hide mobile class */
    .mobile {
        display: none;
    }
    .tab-desk {
        display: block;
    }

    /* Tablet Viewport: Style rule for nav area */
    nav{
        display: inline-block;
    }
    
    nav li {
        font-size: 1.5em;
        border-top: none;
        border-right: 1px solid #fff;
        border-bottom: none;
        display: inline-block;
    }

    nav li a {
        padding: 0.5em 1em;
        border-top: 1px solid #fff;
        display: block;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {

    /* Desktop Viewport: Style rule for nav area */
    nav li {
        font-size: 1.5em;
        display: inline-block;
        padding: 1%;
    }

    nav li a {
        text-align: center;

    }

    nav li a:hover {
        background-color: #555;
    }

    /* Desktop Viewport: Style rule for header content */
    header {
        padding: 1%;
    }
}

/* Media Query for Large Desktop Viewport */
@media screen and (min-width: 1900px), print {

    /* Large Desktop Viewport: Style rule for nav area */
    nav li {
        font-size: 2em;
    }

    nav li a {
        padding: 0.5em 2em;
    }
}


