/* Basic Page Setup */
.wrapper {
    width: 80%;
    /* Relative measurements */
    margin: 0 auto;
    /* 1b. wrapper div centered with margins */
}

/* Semantic Structure (header, nav, main, footer) */
header,
main,
footer {
    padding: 1.2em;
}

/* 2a. Relative measurement */
p {
    font-size: 1.2em;
}

/* 2b. Absolute measurement */
h1 {
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
}

h2 {
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
}

/* 2c. HEX or RGB color value */
body {
    background-color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#ffffff;
}

/* 2d. Descendant Selector */
nav ul li a {
    text-decoration: none;
    color:#ffffff;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 4%;
}

nav {
   border-bottom: 2px solid #ffffff;
   border-top: 2px solid #ffffff;
}

/* 2e. Multiple Selectors */
h1,
h2,
h3 {
    text-align: center;
}

/* 2f. Child Selector */
#intro>h1 {
    border-bottom: 2px solid #ffffff;
}

/* 2g. Padding and Margin */
main {
    padding: 20px;
    margin-top: 20px;
}

/* Pseudo-class selector */
nav a:hover {
    color: #074c00;
}

/* 2i. Shorthand font property */
footer p {
    font: italic bold 14px/1.5 verdana, sans-serif;
}

footer {
    background: linear-gradient(#074c00, #42a341, #b8e2a3);
}

/* 4b. Gradient background on header */
header {
    background-image:linear-gradient(#074c00, #42a341, #b8e2a3);
}

/* Gradient background on body */
body {
    background-image: linear-gradient(135deg, #000000, #434343);
}

/* 4d. Custom heights & widths for paragraphs */
#custom-paragraph {
    width: 75%;
    height: 100px;
}

/* Style rule for images */
img {
    padding: 1%;
}