/* Basic Page Setup */
.wrapper {
    width: 80%;
    /* Relative measurements */
    margin: 0 auto;
    /* 1b. wrapper div centered with margins */
}

/* Semantic Structure (header, nav, main, footer) */
header,
main,
footer {
    padding: 1.2em;
}

/* 2a. Relative measurement */
p {
    font-size: 1.2em;
}

/* 2b. Absolute measurement */
h1 {
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
}

/* 2c. HEX or RGB color value */
body {
    background-color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#ffffff;
}

/* 2d. Descendant Selector */
nav ul li a {
    text-decoration: none;
    color:#ffffff;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 4%;
}

/* 2e. Multiple Selectors */
h1,
h2,
h3 {
    text-align: center;
}

/* 2f. Child Selector */
