/*
Student Name: Dillon Anderson
Date: 09/21/2025
File Name: table-styles1.css
*/

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #e7ff0d;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #e7ff0d;
}

tr:hover {
    background-color: #f1f1f1;
}